---
layout: default
title: Realty Legal
---

{% include services.html %}

{% include corousel.html %}

{% include agents.html %}

{% include news.html %}

{% include testimonials.html %}

<script>
    const contenedor = document.getElementById('propiedades');
    const url = 'https://realtylegal.com.mx/api.php';
  
    function createNode(element) {
      return document.createElement(element);
    }
  
    function append(parent, el) {
      return parent.appendChild(el);
    }
  
    function createElementFromHTML(htmlString) {
      var div = document.createElement('div');
      div.innerHTML = htmlString.trim();
  
      // Change this to div.childNodes to support multiple top-level nodes.
      return div.firstChild;
    }
  
    fetch(url)
      .then((resp) => resp.json())
      .then(function (data) {
        let propiedades = data.content;
        return propiedades.map(function (propiedad) {
  

        let template =` <div class="carousel-item-b swiper-slide">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="${propiedad.title_image_full}" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="${'propiedad.html?id='+ propiedad.public_id}">${propiedad.title.toLowerCase()}</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">${propiedad.property_type} | ${propiedad.operations[0].formatted_amount} </span>
                  </div>
                  <a href="${'propiedad.html?id='+ propiedad.public_id}" class="link-a">Ver detalles
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    
                    <li>
                        <h4 class="card-info-title">Area</h4>
                        <span>${propiedad.lot_size}m
                          <sup>2</sup>
                        </span>
                      </li>
                      <li class="bedrooms ${propiedad.property_type.toUpperCase() == 'TERRENO'?'d-none':''}">
                        <h4 class="card-info-title">Habitaciones</h4>
                        <span>${propiedad.bedrooms}</span>
                      </li>
                      <li class="bathrooms ${propiedad.property_type.toUpperCase() == 'TERRENO'?'d-none':''}">
                        <h4 class="card-info-title">Baños</h4>
                        <span>${propiedad.bathrooms}</span>
                      </li>
                      <li class="parking ${propiedad.property_type.toUpperCase() == 'TERRENO'?'d-none':''}">
                        <h4 class="card-info-title">Estacionamiento</h4>
                        <span>${propiedad.parking_spaces}</span>
                      </li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>`;

          let div = createElementFromHTML(template);
  
          append(contenedor, div);
  
        })
      })
      .catch(function (error) {
        console.log(error);
      });
  </script>