---
layout: default
title: Nosotros
---


<!-- ======= Intro Single ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Conocenos</h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        {% include breadcrumbs.html %} 
      </div>
    </div>
  </div>
</section><!-- End Intro Single-->

<!-- ======= About Section ======= -->
<section class="section-about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 position-relative">
        <div class="about-img-box">
          <img src="assets/img/realtylegal/realtylegal-office.jpg" alt="Oficina" class="img-fluid">
        </div>
        <div class="sinse-box">
          <h3 class="sinse-title">{{site.title}}
            <span></span>
            <br> Desde 2017
          </h3>
          <p>Inmobiliaria</p>
        </div>
      </div>
      <div class="col-md-12 section-t8 position-relative">
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <img src="assets/img/realtylegal/realty-legal-office.jpg" alt="Oficina" class="img-fluid">
          </div>
          <div class="col-lg-2  d-none d-lg-block position-relative">
            <div class="title-vertical d-flex justify-content-start">
              <span>Propiedades Exclusivas</span>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 section-md-t3">
            <div class="title-box-d">
              <h3 class="title-d">Nuestros
                <span class="color-d">Servicios</span> 
                <br> 
              </h3>
            </div>
            <p class="color-text-a">
              •	Contamos con experiencia para asesorarte antes de invertir en tu patrimonio, elaboramos investigación ante las oficinas del Ayuntamiento para verificar el estado que guardan los fraccionamientos que se encuentran vendiendo lotes, lo anterior para que te sientas seguro antes de adquirir una propiedad en fraccionamientos en desarrollo.
            </p>
            <p class="color-text-a">

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include team.html %}