---
layout: default
title: Servicios
---
<!-- ======= Intro Single ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Nuestros Servicios</h1>
          <span class="color-text-a">Conoce tus oportunidades</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        {% include breadcrumbs.html %} 
      </div>
    </div>
  </div>
</section><!-- End Intro Single-->

<!-- ======= Blog Single ======= -->
<section class="news-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="news-img-box">
          <img src="assets/img/slide-3.jpg" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="post-information">
          <ul class="list-inline text-center color-a">
            <li class="list-inline-item mr-2">
              <strong>Autor: </strong>
              <span class="color-text-a">Marco Aurelio Castañeda</span>
            </li>
            <li class="list-inline-item mr-2">
              <strong>Categoria: </strong>
              <span class="color-text-a">Legal</span>
            </li>
            <li class="list-inline-item">
              <strong>Fecha: </strong>
              <span class="color-text-a">1 Marzo. 2022</span>
            </li>
          </ul>
        </div>
        <div class="post-content color-text-a">
        
          <p class="post-intro">
            <strong>Asesorías Jurídicas Gratuitas en materia de tenencia de la tierra:</strong>
          </p>
          <p>
            •	Contamos con experiencia para asesorarte antes de invertir en tu patrimonio, elaboramos investigación ante las oficinas del Ayuntamiento 
            para verificar el estado que guardan los fraccionamientos que se encuentran vendiendo lotes, lo anterior para que te sientas seguro antes de adquirir una 
            propiedad en fraccionamientos en desarrollo.
          </p>
          <p class="post-intro">
            <strong>Investigación y verificación de antecedentes de propiedad:</strong>
          </p>
          <p>
            •	Sabías que antes de efectuar una compra venta de un bien inmueble, puedes acudir al Registro Público de la Propiedad
             para verificar si el predio tiene gravámenes hipotecarios y o fiscales, también se puede verificar si el bien inmueble cuenta con alguna inscripción de demanda, 
             nosotros nos encargamos de efectuar dicha investigación avalado con documentos certificados por las dependencias correspondientes 
          </p>
          <p class="post-intro">
            <strong>Promoción y difusión de propiedades en venta:</strong>
          </p>
          <p>
            •	¿Quieres vender tu propiedad?, nosotros nos encargarnos de la mejor difusión con nuestra bolsa inmobiliaria, previa ubicación con drone, 
            limpieza y despalme según sea el caso, marcado correspondiente, asimismo previa elaboración de video y fotografías con la mejor calidad, 
            nos encargamos de ofrecer tu propiedad en las mejores plataformas digitales. 
          </p>
          <p class="post-intro">
            <strong>Elaboración de Contratos Privados de Compra y Venta:</strong>
          </p>
          <p>
            •	Todo acto jurídico necesita certeza legal para asegurar tu inversión, así como tu patrimonio, elaboramos contratos de compraventa, 
            con cláusulas que aseguren el acto traslativo de dominio de la manera más clara para la parte compradora asimismo para la vendedora
          </p>
          <p class="post-intro">
            <strong>Regularización de Propiedades:</strong>
          </p>
          <p>
            •	Actualmente la propiedad que quieres vender y/o comprar, no está a nombre del vendedor, no se encuentra en regla? 
            Nosotros nos encargamos de regularizar todo tipo de propiedades, según sea el caso, regularizamos tu propiedad para ofrecer claridad, y seguridad y certeza legal a nuestros compradores
          </p>
          <p class="post-intro">
            <strong>Escrituración de Propiedades:</strong>
          </p>
          <p>
            •	¿Ya compraste una propiedad y aún no está a tu nombre?, nosotros nos encargamos de realizar la escrituración correspondiente, 
            para que tu propiedad se encuentre a tu nombre en las Oficinas de Catastro (Ayuntamiento), asimismo en las Oficinas del Registro Público de la Propiedad 
            y de Comercio de Playas de Rosarito, asegura tu inversión, asegura tu patrimonio 
          </p>
          <p class="post-intro">
            <strong>Avalúos y Deslindes Certificados:</strong>
          </p>
          <p>
            •	Otorga más certeza y seguridad a tu patrimonio elaborando primeramente un Avalúo certificado por un perito valuador, 
            para conocimiento del valor de tu propiedad según el caso, acto seguido elaboramos Deslinde Certificado por el Ayuntamiento, 
            lo anterior para verificar ubicación y los puntos límites de tu propiedad
          </p>
          <blockquote class="blockquote">
            <p class="mb-4">Conoce tus derechos y Asesórate Legalmente</p>
            <footer class="blockquote-footer">
              <strong>Marco Aurelio</strong>
              <cite title="Source Title">Autor</cite>
            </footer>
          </blockquote>
          <p>
            Acude a nuestras oficinas, en donde te podremos brindar la atención necesaria.
          </p>
        </div>
        
        <div class="post-footer">
          {% include share.html %} 
        </div>        
      </div>
    </div>
  </div>
</section><!-- End Blog Single-->