<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "url": "https://realtylegal.com.mx/",
      "image": [
          "https://realtylegal.com.mx/assets/img/favicon/og-image.png"
        ],
      "@id": "https://realtylegal.com.mx/",
      "name": "Realty Legal - Bienes Raices y Asesoria Legal",
      "sameAs" : [
          "https://www.facebook.com/RealtyLegal ",
          "https://www.instagram.com/realtylegalbr/",
          "https://www.youtube.com/channel/UCRhoI3g9LB5C3-H7y9vQgxw",
          "https://twitter.com/CentroRosarito",
          "https://www.linkedin.com/in/rosaritocentro/"
          ],
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Calle José Haros Aguilar 2005-Int 2",
        "addressLocality": "Playas de Rosarito",
        "addressRegion": "Baja California",
        "postalCode": "22707",
        "addressCountry": "MX"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 32.363753,
        "longitude": -117.055092
      },
      "url": "https://realtylegal.com.mx/contacto.html",
      "telephone": "+5216611241962",
      "priceRange": "$$"
      ,"openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday"
          ],
          "opens": "08:00",
          "closes": "17:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "08:00",
          "closes": "17:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Saturday",
          "opens": "08:00",
          "closes": "14:00"
        },
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": "Sunday",
          "opens": "closed",
          "closes": "closed"
        }
       ]          
    }
</script>