<!DOCTYPE html>
<html lang="es-mx">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  {% seo %}
  {%- feed_meta -%}
  {% include styles.html %}
  {% include datos.html %}
</head>

<body>

  {% include search.html %}

  {% include navbar.html %}

  {% if page.title == "Realty Legal" %}
    {% include intro.html %}
  {% endif %}
  
  <main id="main">
  
    {{ content }}
  
  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>